################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/A19 Ex01 Aline 000802480 Uri 201465234/v15
