################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/A19 Ex01 Aline 000802480 Uri 201465234/v15
/.vs/A19 Ex01 Aline Guetta 000802480 Uri Shapira 201465234/v15/Server/sqlite3
/.vs/A19 Ex01 Aline Guetta 000802480 Uri Shapira 201465234/v15
/.vs/ProjectSettings.json
/.vs/A19 Ex01 Aline 000802480 Uri 201465234
*.suo
*bin\Debug